node_modules
dist
build
target
.gradle
ejecutables
*.d.ts.map
*.js.map
*.log
.turbo
.astro
/packages/website/.astro
storybook-static
coverage
test-results
.DS_Store

flatpak/pnpm-sources.json
flatpak/cargo-sources.json
flatpak/.flatpak-cargo-generator.py